@import url("../../src/css/fonts.css");
@import url("../../src/css/extensions/swiper.css");
@import "tailwindcss";

@layer components {

    .text_small {
        font-size: small;
    }

    .text_x_small {
        font-size: x-small;
    }

    .cbg_primary {
        background-color: #070D25;
    }

    .cbg_golden {
        background-color: #D4AF37;
    }

    .golden {
        color: #D4AF37;
    }

    .tgju-copyright,
    .tgju-copyright a {
        color: transparent !important;
    }

    .swiper-pagination-bullet-active {
        opacity: var(--swiper-pagination-bullet-opacity, 1);
        background: #D4AF37 !important;
    }

    .card-category span {
        display: none;
    }

    .card-category:hover span {
        display: block;
    }
}